<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.EmployeesMapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.bean.Employees" >
    <id column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="job_id" property="jobId" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="DOUBLE" />
    <result column="commission_pct" property="commissionPct" jdbcType="DOUBLE" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="hiredate" property="hiredate" jdbcType="TIMESTAMP" />
    <result column="photo" property="photo" jdbcType="LONGVARBINARY" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employees
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatis.bean.Employees" >
    insert into employees (employee_id, first_name, last_name, 
      email, phone_number, job_id, 
      salary, commission_pct, manager_id, 
      department_id, hiredate, photo
      )
    values (#{employeeId,jdbcType=INTEGER}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}, 
      #{salary,jdbcType=DOUBLE}, #{commissionPct,jdbcType=DOUBLE}, #{managerId,jdbcType=INTEGER}, 
      #{departmentId,jdbcType=INTEGER}, #{hiredate,jdbcType=TIMESTAMP}, #{photo,jdbcType=LONGVARBINARY}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.bean.Employees" >
    update employees
    set first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      job_id = #{jobId,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=DOUBLE},
      commission_pct = #{commissionPct,jdbcType=DOUBLE},
      manager_id = #{managerId,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      hiredate = #{hiredate,jdbcType=TIMESTAMP},
      photo = #{photo,jdbcType=LONGVARBINARY}
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select employee_id, first_name, last_name, email, phone_number, job_id, salary, commission_pct, 
    manager_id, department_id, hiredate, photo
    from employees
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select employee_id, first_name, last_name, email, phone_number, job_id, salary, commission_pct, 
    manager_id, department_id, hiredate, photo
    from employees
  </select>
</mapper>